:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    color-scheme: light;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --primary-color: white;
    --secondary-color: black;

    --label-silver-color: #adadc9;
    --label-yellow-color: yellow;
    --shadow-color: #ddd;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
